# Xcode
# Picked from https://github.com/github/gitignore/blob/master/Global/Xcode.gitignore

Swift-SourcesHeaderChecker/Swift-SourcesHeaderChecker.xcodeproj/xcuserdata/
Swift-SourcesHeaderChecker/build/
Swift-SourcesHeaderCheckerDerivedData/
Swift-SourcesHeaderChecker/*/*.xcworkspace

# Swift
Swift-SourcesHeaderChecker/.build/

